@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "reset";

.menu{
    position: relative;
    display: flex;
    align-items: start;
    height: 100px;
    z-index: 1000;
}

.menu .nav-link {
    color: $c-white;
    font-size: 0.875rem;
}

.menu .menu-item{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.menu .menu-item:last-child .nav-link{
    color: $c-white;
    background-color: $c-green;
    border: 2px solid $c-green;
    border-radius: 100px;
    padding: 1rem 2rem;
    margin-left: 6rem;
    transition: all .3s;
}

.menu .menu-item:last-child .nav-link:hover{
    box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 767px) {
    .navbar-collapse{
        background-color: $c-green;
        margin-top: 1rem;
    }

    .navbar-nav{
        padding-top: 1rem;
        padding-bottom: .8rem;
    }

    .menu .menu-item:last-child .nav-link{
        color: $c-white;
        background-color: $c-green;
        border: none;
        border-radius: none;
        padding-top: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
}

.hero {
    height: 80vh;
    background-size: cover;
    margin-top: -100px;
}

.hero__video{
    position: absolute;
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

.hero__content {
    color: $c-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.cta {
    background-image: url(../assets/images/lines.png);
    background-repeat: no-repeat;
    background-position: center;
    color: $c-white;
    background-color: $c-green;
    border-radius: 20px;
    text-align: center;
    position: relative;
    z-index: 100;
    margin-top: -100px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .cta {
        margin-top: -50px;
    }
}

.cta__form {
    display: flex;
    justify-content: center;
}

.cta__form input {
    width: 70%;
    padding: 1rem 2rem;
    border-radius: 100px;
}

.cta__search {
    margin-left: -100px;
}

@media only screen and (max-width: 767px) {
    .cta__form {
        display: block;
    }

    .cta__form input {
        width: 100%;
        padding: 1rem 2rem;
    }

    .cta__search {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

.services__box {
    background-color: $c-lightgray;
    border-radius: 20px;
    padding: 1rem;
    padding-top: 2rem;
    height: 100%;
    text-align: center;
}


.pricing__box {
    background: $c-white;
    border-radius: 20px;
    box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.06);
    padding: 3rem 1.5rem;
    height: 100%;
    transition: all .5s;
}

.pricing__box:hover{
    box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.218);
}

.pricing__more-info ul{
    list-style-image: url('../assets/icons/bullet.svg');
}

.pricing ul li{
    padding-bottom: .8rem;
}

.pricing__name{
    font-size: 1.5rem;
    font-weight: 500;
}

.pricing__price{
    font-size: 2rem;
    font-weight: 500;
}

.pricing__desc{
    color: $c-gray;
    opacity: 1;
}

.pricing__button{
    color: $c-blue;
    background-color: transparent;
    border-color: $c-blue;
}

.pricing__box--green{
    background-color: $c-green;
    color: $c-white;

    .pricing__desc{
        color: $c-white;
    }

    .pricing__more-info ul{
        list-style-image: url('../assets/icons/bullet-white.svg');
    }

    .pricing__button{
        color: $c-white;
        background-color: transparent;
        border-color: $c-white;
    }
}

.cta--2{
    margin: 0;
    background-image: url('..//assets/images/map.png');
    background-color: $c-blue;
}

.footer{
    background-color: $c-darkblue;
}

.footer p{
    opacity: 1;
}

.footer a{
    color: $c-white;
    opacity: 0.6;
    text-decoration: none;
    font-size: 0.875rem;
    transition: all .2s;
}

.footer a:hover{
    color: $c-white;
    opacity: 1;
}